@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}



.fondo{
    background-image: url(../img/imagen1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 52rem;
    margin: 0;
}

.hero{
    background-image: url(../img/imagen2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 31rem;

}


@media (max-width: 600px) {
.hero{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
    
}

.nosotros{
    
    background-image: url(../img/imagen3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    
}  

.servicios{
margin-top: -1.5rem;
}

.titulo{

    margin-top: -5rem;
}

.galeria{
    background-image: url(../img/12.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    
}

@media (max-width: 600px) {
    .galeria{
       height: 100%;
    }
        
    }

.display-galeria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
    .display-galeria{
       display: block;
    }
        
    }
    
.galeria-img{
    margin: 2rem;
  display: flex;
    width: 80%;
 box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.galeria-img:hover{
    width: 85%;
}